

.table .col {
    cursor: pointer;
  }
  
  .table .col .pointer:after {
   
    content: "sort";
    margin-right: 18px;
  }
  
  .table .col .pointer:hover:after {
    
    content: "sort";
    margin-right: 0;
  }